<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="memo.memo" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:icon="@mipmap/memo" android:label="记忆" android:roundIcon="@mipmap/memo" android:supportsRtl="true" android:theme="@style/Theme.Design.Light.NoActionBar">
		<service android:name="Receiver1">
			<intent-filter>
				<action android:name="com.ex.action.BC_ACTION" />
			</intent-filter>
		</service>
	</application>
</manifest>